@charset "UTF-8";

@media screen and (min-width: 768px) {
    i#burguer {
        display: none;
    }

    menu {
        display: block;
        margin-left: 45px;
    }

    menu > ul > li {
        display: inline-block;
        margin-bottom: 10px;
    }

    main {
        width: 700px;
    }
