@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');    


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --cor0: #274D12;
    --cor1: #41801D;;
    --cor2: #68954F;
    --cor3: #8FCC6C;
    --cor4: #69CC2F;
    --cor5: #80171A;
    --cor6: #CC1B1F;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulo-principal: 'Kaushan Script', cursive; 
    --fonte-destaque: 'Sriracha', cursive;
}

* {
    font-family: var(--fonte-padrao);
    margin: 0px;
    padding: 0px;
}

body {
   
    height: 100vh;
    background: black url(../imagens/background2-p.jpg) center center no-repeat fixed;
    background-size: cover;
}

header {
    
}

header > h1 {
    font-family: var(--fonte-titulo-principal);
    font-size: 3em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px var(--cor0);
}

i#burguer {
    display: block;
    background-color: #274d12c9;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: #8fcc6cb2;
    color: black;
}

menu {
    display: none;
}

menu > ul > li {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #41801da6;
    color: white;
    border-top: 2px solid var(--cor2);
}

menu > ul > li > a:hover {
    background-color: #274d12ab;
    transition: 1s;
}

main {
    background-color: rgba(255, 255, 255, 0.507);
    width: 80vw;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    padding: 10px;
    text-indent: 30px;
    text-align: justify;
}